#wrapper {
	margin-right: auto;
	margin-left: auto;
	height: 600px;
	width: 900px;
	background-image: url(webbckgrd.gif);
}
body {
	background-color: #FCC;
	background-image: url(flower.gif);
}
#flash {
	margin-right: auto;
	margin-left: auto;
	height: 480px;
	width: 800px;
	padding-top: 98.3px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#footer {
	padding: 10px;
	margin: 0px;
	float: none;
}
#footer p {
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 90%;
	color: #909;
}
